body {
	margin: 0;
	padding: 0;
	background: #ffffff;
	font: 12px Arial, sans-serif;
}

p,
td,
th,
span,
div {
	font: 13px "Arial", "Helvetica", sans-serif;
}

.forstep img {
	border: 0;
	float: right;
	margin: 0;
	padding-left: 10px;
	max-width: 40%;
	height: auto
}

.stepbystep img {
	border: 0;
	float: right;
	margin: -10px 0 0;
	padding-left: 10px;
	width: 300px;
	height: 225px;
	max-width: 40%;
	height: auto
}

.stepbystep p {
	clear: both;
	margin: 0 0 0 -10px;
	padding: 10px 0 10px 10px;
	width: 100%;
	display: block
}

.h-recipe,
.ingredients,
.e-instructions p,
.p-summary,
.h-recipe span,
.h-recipe p {
	font: 14px/1.6 "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

.p-summary {
	padding: 4px;
	font-style: italic
}

.p-summary span {
	font-style: italic
}